.blogCardSubTitle
{
font-size: 14px;
font-weight: 300;
text-align: left;

}

.blogCardTitle
{
font-size: 34px;
font-weight: 700;
text-align: left;

}
.blogCardSubDescription
{
font-size: 14px;
font-weight: 300;
text-align: left;

}
.blogCardDate
{
font-size: 14px;
font-weight: 300;
text-align: left;

}