.downloadBannerText
{
font-size: 42px;
font-weight: 700;
/* line-height: 60px; */
text-align: left;

}
.downloadBannerTextSmall
{
  
  font-size: 14px;
  font-weight: 300!important;
  text-align: left;
  
}

.pharmacy_read_more
{
  background: linear-gradient(315deg, #367B39 29.53%, #8AB746 100%);

}